#search-box {
	-fx-padding: 15, 12, 15, 12;
  -fx-background-color: #5588BB;
}

#search-box-field {
	-fx-font-size: 20;
}

#results-pane {
	-fx-padding: 10, 10, 10, 10;
	-fx-hgap: 10;
	-fx-vgap: 10;
}

#search-results-title {
	-fx-font-size: 30;
	-fx-font-weight: bold;
}

#search-results {
	-fx-font-size: 20;
	-fx-wrap-text: true;
}